In [12]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import re
from collections import defaultdict

In [2]:
#Use one ./ if running from run_notebooks.py
#Use two ../if running directly from Jupyter Notebooks
#file_beg = '../NHANES-Downloader/data/csv_data/'

file_beg = './NHANES-Downloader/data/csv_data/'

In [3]:
#Import all the files
files1 = glob.glob(file_beg+'1999-2000/*/*.csv')
files2 = glob.glob(file_beg+'2001-2002/*/*.csv')
files3 = glob.glob(file_beg+'2003-2004/*/*.csv')
files4 = glob.glob(file_beg+'2005-2006/*/*.csv')
files5 = glob.glob(file_beg+'2007-2008/*/*.csv')
files6 = glob.glob(file_beg+'2009-2010/*/*.csv')
files7 = glob.glob(file_beg+'2011-2012/*/*.csv')
files8 = glob.glob(file_beg+'2013-2014/*/*.csv')
files9 = glob.glob(file_beg+'2015-2016/*/*.csv')

In [14]:
#Add files into a list
file_list = [files1, files2, files3, files4, files5, 
          files6, files7, files8, files9]

In [15]:
#Add files into a list of sorted and dictionaries
file_list_dict = []
for x in file_list:
    x.sort()
    file_list_dict.append(dict(enumerate(x)))

In [16]:
bpx_indx = [15, 12, 19, 15, 17, 19, 17, 13, 7]

In [17]:
dfs = defaultdict(int)
for i in range(0,len(bpx_indx)):
    dfs[i] = pd.read_csv(file_list_dict[i][bpx_indx[i]])

## Functions: Recategorize values, Count Values, Drop Rows

In [18]:
#Recategorize function
def recategorize(df, name, replace_dict):
    df[name].replace(
    to_replace=replace_dict,
    inplace=True
)
    
#Count values function
def count_vals(df, name):
    df_count = df.groupby(name)['SEQN'].nunique()
    print(df_count,"\n\n","NaN: ", df[name].isnull().sum())
    
#Drop rows that include certain values
def drop_rows(df, name, val_list):
    df.drop(df[df[name].isin(val_list)].index, inplace=True)

## Important Variables

In [19]:
#1999-2016
descr = ['SEQN', 'Pulse regular or irregular?', 'Systolic', 'Diastolic']
var_names = ['SEQN', 'BPXPULS', 'BPXSY1', 'BPXDI1']

In [20]:
#To display all columns in Jupyter Notebooks
#pd.set_option('display.max_columns', 500)

## Make a copy of the dataframes

In [21]:
#1999-20016
df0 = dfs[0][var_names].copy() #1999-2000
df1 = dfs[1][var_names].copy() #2001-2002
df2 = dfs[2][var_names].copy() #2003-2004
df3 = dfs[3][var_names].copy() #2005-2006
df4 = dfs[4][var_names].copy() #2007-2008
df5 = dfs[5][var_names].copy() #2009-2010
df6 = dfs[6][var_names].copy() #2011-2012
df7 = dfs[7][var_names].copy() #2013-2014
df8 = dfs[8][var_names].copy() #2015-2016

## Recategorize values

In [12]:
#No recategorizing needed

## Rename columns 1999 - 2016

In [13]:
#No renaming needed

## Append years 1999 - 2016

In [22]:
years = ["1999-2000","2001-2002","2003-2004","2005-2006","2007-2008", 
        "2009-2010","2011-2012","2013-2014","2015-2016"]

In [23]:
frames = [df0, df1, df2, df3, df4, df5, df6, df7, df8]

In [24]:
#Add years as a column
for i, df in enumerate(frames):
    df["Year"] = years[i]

In [25]:
result_1999_2016 = pd.concat(frames, keys = years)

In [26]:
result_1999_2016_cleaned = result_1999_2016.copy()

In [27]:
result_1999_2016_cleaned

                   SEQN  BPXPULS  BPXSY1  BPXDI1       Year
1999-2000 0         1.0      1.0     NaN     NaN  1999-2000
          1         2.0      1.0   106.0    58.0  1999-2000
          2         3.0      1.0   110.0    60.0  1999-2000
          3         4.0      1.0     NaN     NaN  1999-2000
          4         5.0      1.0   122.0    82.0  1999-2000
          5         6.0      1.0   116.0    64.0  1999-2000
          6         7.0      1.0   130.0    78.0  1999-2000
          7         8.0      1.0     NaN     NaN  1999-2000
          8         9.0      1.0   104.0    60.0  1999-2000
          9        10.0      1.0   152.0    98.0  1999-2000
          10       11.0      1.0   110.0    52.0  1999-2000
          11       12.0      1.0   182.0   108.0  1999-2000
          12       13.0      1.0   140.0    78.0  1999-2000
          13       14.0      1.0   142.0    56.0  1999-2000
          14       15.0      1.0   106.0    68.0  1999-2000
          15       16.0      1.0   164.0    62.0  1999-2000
          16       17.0      1.0     NaN     NaN  1999-2000
          17       18.0      1.0     NaN     NaN  1999-2000
          18       19.0      1.0     NaN     NaN  1999-2000
          19       20.0      1.0   102.0    56.0  1999-2000
          20       21.0      1.0   126.0    84.0  1999-2000
          21       22.0      1.0   106.0    76.0  1999-2000
          22       23.0      1.0   100.0    50.0  1999-2000
          23       24.0      1.0   110.0    78.0  1999-2000
          24       25.0      1.0     NaN     NaN  1999-2000
          25       26.0      1.0   100.0    60.0  1999-2000
          26       27.0      1.0   120.0    80.0  1999-2000
          27       28.0      1.0    98.0    42.0  1999-2000
          28       29.0      1.0   124.0    70.0  1999-2000
          29       30.0      1.0     NaN     NaN  1999-2000
...                 ...      ...     ...     ...        ...
2015-2016 9514  93672.0      NaN     NaN     NaN  2015-2016
          9515  93673.0      1.0     NaN     NaN  2015-2016
          9516  93674.0      1.0    96.0    48.0  2015-2016
          9517  93675.0      1.0   110.0    58.0  2015-2016
          9518  93676.0      1.0   118.0    78.0  2015-2016
          9519  93677.0      1.0   114.0    72.0  2015-2016
          9520  93678.0      1.0     NaN     NaN  2015-2016
          9521  93679.0      2.0   142.0    64.0  2015-2016
          9522  93680.0      1.0   112.0    62.0  2015-2016
          9523  93682.0      1.0   132.0    78.0  2015-2016
          9524  93683.0      1.0     NaN     NaN  2015-2016
          9525  93684.0      1.0   110.0    72.0  2015-2016
          9526  93685.0      1.0   132.0    54.0  2015-2016
          9527  93686.0      1.0   114.0    74.0  2015-2016
          9528  93687.0      1.0   112.0    74.0  2015-2016
          9529  93688.0      1.0     NaN     NaN  2015-2016
          9530  93689.0      1.0   164.0    62.0  2015-2016
          9531  93690.0      1.0   112.0    60.0  2015-2016
          9532  93691.0      1.0   112.0    80.0  2015-2016
          9533  93692.0      1.0     NaN     NaN  2015-2016
          9534  93693.0      1.0     NaN     NaN  2015-2016
          9535  93694.0      1.0     NaN     NaN  2015-2016
          9536  93695.0      2.0   112.0    48.0  2015-2016
          9537  93696.0      1.0   118.0    68.0  2015-2016
          9538  93697.0      2.0   154.0    56.0  2015-2016
          9539  93698.0      1.0     NaN     NaN  2015-2016
          9540  93699.0      1.0     NaN     NaN  2015-2016
          9541  93700.0      1.0   104.0    62.0  2015-2016
          9542  93701.0      1.0   114.0    48.0  2015-2016
          9543  93702.0      1.0   118.0    66.0  2015-2016

[88062 rows x 5 columns]

## Count values for each column

In [28]:
col_names = var_names

In [29]:
len(col_names)

4

In [31]:
#BPXPULS - Pulse regular or irregular?
count_vals(result_1999_2016, col_names[1])

BPXPULS
1.0    83121
2.0     1866
Name: SEQN, dtype: int64

 NaN:  3075

In [32]:
#BPXSY1 - Systolic: Blood pres (1st rdg) mm Hg
count_vals(result_1999_2016, col_names[2])

BPXSY1
66.0        1
72.0        4
74.0        8
76.0       10
78.0       21
80.0       44
82.0       73
84.0      162
86.0      251
88.0      318
90.0      540
92.0      748
94.0     1124
96.0     1478
98.0     1586
100.0    1954
102.0    2201
104.0    2899
106.0    3211
108.0    2917
110.0    2998
112.0    3081
114.0    3498
116.0    3343
118.0    2798
120.0    2642
122.0    2341
124.0    2518
126.0    2208
128.0    1729
         ...
192.0      38
194.0      38
196.0      42
198.0      31
200.0      26
202.0      18
204.0      26
206.0      16
208.0      18
210.0      20
212.0       8
214.0       7
216.0       8
218.0      10
220.0      12
222.0       5
224.0       6
226.0       2
228.0       7
230.0       7
232.0       2
234.0       1
236.0       1
238.0       1
240.0       1
242.0       1
248.0       1
256.0       1
266.0       1
270.0       1
Name: SEQN, Length: 91, dtype: int64

 NaN:  25788

In [33]:
#BPXDI1 - Diastolic: Blood pres (1st rdg) mm Hg
count_vals(result_1999_2016, col_names[3])

BPXDI1
5.397605e-79     607
2.000000e+00       3
4.000000e+00       5
6.000000e+00       3
8.000000e+00       2
1.000000e+01      13
1.200000e+01      11
1.400000e+01      11
1.600000e+01       7
1.800000e+01      16
2.000000e+01      27
2.200000e+01      41
2.400000e+01      35
2.600000e+01      39
2.800000e+01      62
3.000000e+01     109
3.200000e+01     133
3.400000e+01     180
3.600000e+01     247
3.800000e+01     306
4.000000e+01     450
4.200000e+01     642
4.400000e+01     731
4.600000e+01     969
4.800000e+01    1177
5.000000e+01    1565
5.200000e+01    1951
5.400000e+01    2109
5.600000e+01    2677
5.800000e+01    2776
                ...
7.200000e+01    3614
7.400000e+01    3582
7.600000e+01    3087
7.800000e+01    2645
8.000000e+01    2348
8.200000e+01    1700
8.400000e+01    1633
8.600000e+01    1178
8.800000e+01     860
9.000000e+01     785
9.200000e+01     491
9.400000e+01     429
9.600000e+01     285
9.800000e+01     189
1.000000e+02     166
1.020000e+02     105
1.040000e+02      88
1.060000e+02      44
1.080000e+02      50
1.100000e+02      43
1.120000e+02      16
1.140000e+02      24
1.160000e+02       8
1.180000e+02      12
1.200000e+02      12
1.220000e+02       1
1.240000e+02       1
1.280000e+02       1
1.320000e+02       1
1.340000e+02       2
Name: SEQN, Length: 66, dtype: int64

 NaN:  25788

In [30]:
len(result_1999_2016)

88062

## Remove missing values:

In [37]:
drop_rows(result_1999_2016_cleaned, col_names[1], [np.nan])

In [35]:
drop_rows(result_1999_2016_cleaned, col_names[2], [np.nan])

In [36]:
drop_rows(result_1999_2016_cleaned, col_names[3], [np.nan])

## See if missing values have been correctly removed:

In [39]:
#BPXPULS - Pulse regular or irregular?
count_vals(result_1999_2016_cleaned, col_names[1])

BPXPULS
1.0    60772
2.0     1501
Name: SEQN, dtype: int64

 NaN:  0

In [40]:
#BPXSY1 - Systolic: Blood pres (1st rdg) mm Hg
count_vals(result_1999_2016_cleaned, col_names[2])

BPXSY1
66.0        1
72.0        4
74.0        8
76.0       10
78.0       21
80.0       44
82.0       73
84.0      162
86.0      251
88.0      318
90.0      540
92.0      748
94.0     1124
96.0     1478
98.0     1586
100.0    1954
102.0    2201
104.0    2899
106.0    3210
108.0    2917
110.0    2998
112.0    3081
114.0    3498
116.0    3343
118.0    2798
120.0    2642
122.0    2341
124.0    2518
126.0    2208
128.0    1729
         ...
192.0      38
194.0      38
196.0      42
198.0      31
200.0      26
202.0      18
204.0      26
206.0      16
208.0      18
210.0      20
212.0       8
214.0       7
216.0       8
218.0      10
220.0      12
222.0       5
224.0       6
226.0       2
228.0       7
230.0       7
232.0       2
234.0       1
236.0       1
238.0       1
240.0       1
242.0       1
248.0       1
256.0       1
266.0       1
270.0       1
Name: SEQN, Length: 91, dtype: int64

 NaN:  0

In [41]:
#BPXDI1 - Diastolic: Blood pres (1st rdg) mm Hg
count_vals(result_1999_2016_cleaned, col_names[3])

BPXDI1
5.397605e-79     607
2.000000e+00       3
4.000000e+00       5
6.000000e+00       3
8.000000e+00       2
1.000000e+01      13
1.200000e+01      11
1.400000e+01      11
1.600000e+01       7
1.800000e+01      16
2.000000e+01      27
2.200000e+01      41
2.400000e+01      35
2.600000e+01      39
2.800000e+01      62
3.000000e+01     109
3.200000e+01     133
3.400000e+01     180
3.600000e+01     247
3.800000e+01     306
4.000000e+01     450
4.200000e+01     642
4.400000e+01     731
4.600000e+01     969
4.800000e+01    1177
5.000000e+01    1565
5.200000e+01    1951
5.400000e+01    2109
5.600000e+01    2677
5.800000e+01    2776
                ...
7.200000e+01    3614
7.400000e+01    3581
7.600000e+01    3087
7.800000e+01    2645
8.000000e+01    2348
8.200000e+01    1700
8.400000e+01    1633
8.600000e+01    1178
8.800000e+01     860
9.000000e+01     785
9.200000e+01     491
9.400000e+01     429
9.600000e+01     285
9.800000e+01     189
1.000000e+02     166
1.020000e+02     105
1.040000e+02      88
1.060000e+02      44
1.080000e+02      50
1.100000e+02      43
1.120000e+02      16
1.140000e+02      24
1.160000e+02       8
1.180000e+02      12
1.200000e+02      12
1.220000e+02       1
1.240000e+02       1
1.280000e+02       1
1.320000e+02       1
1.340000e+02       2
Name: SEQN, Length: 66, dtype: int64

 NaN:  0

In [42]:
before = len(result_1999_2016)
before

88062

In [43]:
after = len(result_1999_2016_cleaned)
after

62273

In [44]:
(before-after)/after

0.41412811330753296

## MongoDB Insertion

In [45]:
#Import MongoClient
from pymongo import MongoClient

#Create a MongoClient to run the MongoDB instance
client = MongoClient("localhost", 27017)

In [46]:
#Connect to existing database
db = client.NHANES
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'NHANES')

In [47]:
db.list_collection_names()

['smqfam',
 'smq',
 'mcq',
 'hiq',
 'demo',
 'bpq',
 'huq',
 'paq',
 'whq',
 'alq',
 'diq']

In [48]:
#Creating a collection
bpx = db.bpx

In [49]:
#If collections exist, then drop
if 'bpx' in db.list_collection_names():
    bpx.drop()
    db.list_collection_names()

## Create new collection to input into database

In [50]:
result_1999_2016_cleaned[:3]

             SEQN  BPXPULS  BPXSY1  BPXDI1       Year
1999-2000 1   2.0      1.0   106.0    58.0  1999-2000
          2   3.0      1.0   110.0    60.0  1999-2000
          4   5.0      1.0   122.0    82.0  1999-2000

In [51]:
#Set SEQN as _id (Primary Key)
result_1999_2016_cleaned.rename(columns= {'SEQN':'_id'}, inplace=True)

In [52]:
#Dataframe to dictionary
bpx_dict = result_1999_2016_cleaned.to_dict(orient='records')

In [53]:
bpx_dict[0]

{'BPXDI1': 58.0,
 'BPXPULS': 1.0,
 'BPXSY1': 106.0,
 'Year': '1999-2000',
 '_id': 2.0}

In [54]:
#Insert collection
bpx.insert_many(bpx_dict)

In [55]:
db.list_collection_names()

['smqfam',
 'smq',
 'bpx',
 'mcq',
 'hiq',
 'demo',
 'bpq',
 'huq',
 'paq',
 'whq',
 'alq',
 'diq']