In [1]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import re
from collections import defaultdict

In [2]:
#Use one ./ if running from run_notebooks.py
#Use two ../if running directly from Jupyter Notebooks
#file_beg = '../NHANES-Downloader/data/csv_data/'

file_beg = './NHANES-Downloader/data/csv_data/'

In [3]:
#Import all the files
files1 = glob.glob(file_beg+'1999-2000/*/*.csv')
files2 = glob.glob(file_beg+'2001-2002/*/*.csv')
files3 = glob.glob(file_beg+'2003-2004/*/*.csv')
files4 = glob.glob(file_beg+'2005-2006/*/*.csv')
files5 = glob.glob(file_beg+'2007-2008/*/*.csv')
files6 = glob.glob(file_beg+'2009-2010/*/*.csv')
files7 = glob.glob(file_beg+'2011-2012/*/*.csv')
files8 = glob.glob(file_beg+'2013-2014/*/*.csv')
files9 = glob.glob(file_beg+'2015-2016/*/*.csv')

In [4]:
#Add files into a list
file_list = [files1, files2, files3, files4, files5, 
          files6, files7, files8, files9]

In [5]:
#Add files into a list of sorted and dictionaries
file_list_dict = []
for x in file_list:
    x.sort()
    file_list_dict.append(dict(enumerate(x)))

In [6]:
#Index of all the files in dictionary from 1999 - 2016
huq_indx = [91, 105, 118, 108, 107, 115, 107, 128, 78]

In [7]:
dfs = defaultdict(int)
for i in range(0,len(huq_indx)):
    dfs[i] = pd.read_csv(file_list_dict[i][huq_indx[i]])

In [8]:
#Default column names
col_names = ["SEQN", "HUQ010", "HUQ020", "HUQ030", "HUQ040", "HUQ050", "HUQ070", "HUQ090"]

In [9]:
#Column names for 2013-2016
col_names1 = ["SEQN", "HUQ010", "HUQ020", "HUQ030", "HUQ041", "HUQ051", "HUQ071", "HUQ090"]

## Round HUQ050 & HUQ051

In [10]:
#1999-2000
dfs[0][['HUQ050']] = dfs[0][['HUQ050']].round(0)

#2001-2002
dfs[1][['HUQ050']] = dfs[1][['HUQ050']].round(0)

#2003-2004
dfs[2][['HUQ050']] = dfs[2][['HUQ050']].round(0)

#2005-2006
dfs[3][['HUQ050']] = dfs[3][['HUQ050']].round(0)

#2007-2008
dfs[4][['HUQ050']] = dfs[4][['HUQ050']].round(0)

#2009-2010
dfs[5][['HUQ050']] = dfs[5][['HUQ050']].round(0)

#2011-2012
dfs[6][['HUQ050']] = dfs[6][['HUQ050']].round(0)

#Round the column HUQ051
#2013-2014
dfs[7][['HUQ051']] = dfs[7][['HUQ051']].round(0)

#2015-2016
dfs[8][['HUQ051']] = dfs[8][['HUQ051']].round(0)

## Rename HUD070, HUQ071

In [11]:
#Rename HUD070 to HUQ070
#2001-2002
dfs[1].rename(columns={'HUD070':'HUQ070'}, inplace=True)


#Rename HUQ071 to HUQ070
#2003-2004
dfs[2].rename(columns={'HUQ071':'HUQ070'}, inplace=True)

#2005-2006
dfs[3].rename(columns={'HUQ071':'HUQ070'}, inplace=True)

#2007-2008
dfs[4].rename(columns={'HUQ071':'HUQ070'}, inplace=True)

#2009-2010
dfs[5].rename(columns={'HUQ071':'HUQ070'}, inplace=True)

#2011-2012
dfs[6].rename(columns={'HUQ071':'HUQ070'}, inplace=True)

## Make copy of all the dataframes

In [12]:
df0 = dfs[0][col_names].copy()
df1 = dfs[1][col_names].copy()
df2 = dfs[2][col_names].copy()
df3 = dfs[3][col_names].copy()
df4 = dfs[4][col_names].copy()
df5 = dfs[5][col_names].copy()
df6 = dfs[6][col_names].copy()
df7 = dfs[7][col_names1].copy()
df8 = dfs[8][col_names1].copy()

## Functions: Recategorize values, Count Values, Drop Rows

In [13]:
#Recategorize function
def recategorize(df, name, replace_dict):
    df[name].replace(
    to_replace=replace_dict,
    inplace=True
)
    
#Count values function
def count_vals(df, name):
    df_count = df.groupby(name)['SEQN'].nunique()
    print(df_count,"\n\n","NaN: ", df[name].isnull().sum())
    
#Drop rows that include certain values
def drop_rows(df, name, val_list):
    df.drop(df[df[name].isin(val_list)].index, inplace=True)

## Recategorize 2013 - 2016 Info

In [14]:
#Recategorize HUQ041
#Refused 77 to 7. Recategorize Don't Know 99 to 9.
recategorize(df7, 'HUQ041', {77:7, 99:9}) #2013-2014
recategorize(df8, 'HUQ041', {77:7, 99:9}) #2015-2016

# #Drop indexes in HUQ041 with 6 to match HUQ040
# drop_rows(df7, 'HUQ041', [6])
# drop_rows(df8, 'HUQ041', [6])

#Recategorize HUQ51 additional categories to HUQ050
recategorize(df7, 'HUQ051', {4:3, 5:3, 6:4, 7:5, 8:5}) #2013-2014
recategorize(df8, 'HUQ051', {4:3, 5:3, 6:4, 7:5, 8:5}) #2015-2016

## Rename 2013 - 2016 columns

In [15]:
df7.columns = col_names #2013-2014
df8.columns = col_names #2015-2016

## Append years 1999 - 2016

In [16]:
years = ["1999-2000","2001-2002","2003-2004","2005-2006","2007-2008",
           "2009-2010","2011-2012","2013-2014","2015-2016"]

In [17]:
frames = [df0, df1, df2, df3, df4, df5, df6, df7, df8]

In [18]:
#Add years as a column
for i, df in enumerate(frames):
    df["Year"] = years[i]

In [19]:
result_1999_2016 = pd.concat(frames, keys = years)

In [20]:
result_1999_2016_cleaned = result_1999_2016.copy()

## Count values for each column

In [20]:
col_names

['SEQN', 'HUQ010', 'HUQ020', 'HUQ030', 'HUQ040', 'HUQ050', 'HUQ070', 'HUQ090']

In [21]:
#HUQ010
count_vals(result_1999_2016, col_names[1])

drop_rows(result_1999_2016_cleaned, 'HUQ010', [np.nan, 7, 9])

HUQ010
1.0    26236
2.0    23704
3.0    27396
4.0    11998
5.0     2681
7.0       13
9.0       29
Name: SEQN, dtype: int64

 NaN:  5

In [22]:
#HUQ020
count_vals(result_1999_2016, col_names[2])

HUQ020
1.0    16500
2.0     6957
3.0    64420
7.0        5
9.0       24
Name: SEQN, dtype: int64

 NaN:  4156

In [23]:
#HUQ030
count_vals(result_1999_2016, col_names[3])

HUQ030
1.0    80375
2.0    11200
3.0      475
7.0        1
9.0        6
Name: SEQN, dtype: int64

 NaN:  5

In [24]:
#HUQ040
count_vals(result_1999_2016, col_names[4])

HUQ040
1.0    21012
2.0    55383
3.0     2040
4.0     1562
5.0      766
6.0       68
7.0        3
9.0       16
Name: SEQN, dtype: int64

 NaN:  11212

In [25]:
#HUQ050
count_vals(result_1999_2016, col_names[5])

HUQ050
0.0     12888
1.0     18780
2.0     27686
3.0     22465
4.0      5081
5.0      5045
77.0        5
99.0      107
Name: SEQN, dtype: int64

 NaN:  5

In [26]:
#HUQ070
count_vals(result_1999_2016, col_names[6])

HUQ070
1.0     8914
2.0    83109
7.0        3
9.0       31
Name: SEQN, dtype: int64

 NaN:  5

In [27]:
#HUQ090
count_vals(result_1999_2016, col_names[7])

HUQ090
1.0     6158
2.0    74291
7.0        9
9.0       39
Name: SEQN, dtype: int64

 NaN:  11565

In [28]:
#
len(result_1999_2016)

92062

## Remove:  
### Values:  
77 or 7: Refused  
99 or 9: Don't know  
NaN: No input  
### Columns:  
'HUQ040' and 'HUQ090' because too many missing values

In [29]:
# Drop 6 for HUQ040
# drop_rows(df7, 'HUQ041', [6])
# drop_rows(df8, 'HUQ041', [6])

#Remove column HUQ040 & HUQ090 - too many missing values
result_1999_2016_cleaned.drop(['HUQ040', 'HUQ090'], inplace=True, axis=1)

#
drop_rows(result_1999_2016_cleaned, 'HUQ010', [np.nan, 7, 9])
drop_rows(result_1999_2016_cleaned, 'HUQ020', [np.nan, 7, 9])
drop_rows(result_1999_2016_cleaned, 'HUQ030', [np.nan, 7, 9])
drop_rows(result_1999_2016_cleaned, 'HUQ050', [np.nan, 77, 99])
drop_rows(result_1999_2016_cleaned, 'HUQ070', [np.nan, 7, 9])

In [30]:
count_vals(result_1999_2016_cleaned, col_names[1])

HUQ010
1.0    23473
2.0    22913
3.0    26781
4.0    11873
5.0     2667
Name: SEQN, dtype: int64

 NaN:  0

In [31]:
count_vals(result_1999_2016_cleaned, col_names[2])

HUQ020
1.0    16456
2.0     6945
3.0    64306
Name: SEQN, dtype: int64

 NaN:  0

In [32]:
count_vals(result_1999_2016_cleaned, col_names[3])

HUQ030
1.0    76168
2.0    11069
3.0      470
Name: SEQN, dtype: int64

 NaN:  0

In [33]:
count_vals(result_1999_2016_cleaned, col_names[5])

HUQ050
0.0    12735
1.0    18423
2.0    26411
3.0    20501
4.0     4766
5.0     4871
Name: SEQN, dtype: int64

 NaN:  0

In [34]:
count_vals(result_1999_2016_cleaned, col_names[6])

HUQ070
1.0     8165
2.0    79542
Name: SEQN, dtype: int64

 NaN:  0

In [35]:
before = len(result_1999_2016)
after = len(result_1999_2016_cleaned)
after/before

0.9526949229866829

In [36]:
after

87707

## MongoDB Insertion

In [37]:
#Import MongoClient
from pymongo import MongoClient

#Create a MongoClient to run the MongoDB instance
client = MongoClient('localhost', 27017)

In [38]:
#Connect to existing datbase
db = client.NHANES

In [39]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'NHANES')

In [40]:
db.list_collection_names()

['smqfam',
 'smq',
 'mcq',
 'hiq',
 'demo',
 'bpq',
 'huq',
 'paq',
 'whq',
 'alq',
 'diq']

In [41]:
#Create collection in database
huq = db.huq

In [42]:
#If collections exist, then drop
if 'huq' in db.list_collection_names():
    huq.drop()
    db.list_collection_names()
else:
    print("Doesn't exist yet")

## Create new collection to input into database

In [43]:
result_1999_2016_cleaned[:3]

             SEQN  HUQ010  HUQ020  HUQ030  HUQ050  HUQ070       Year
1999-2000 0   1.0     1.0     3.0     1.0     3.0     1.0  1999-2000
          1   2.0     2.0     2.0     1.0     3.0     1.0  1999-2000
          2   3.0     1.0     1.0     1.0     1.0     2.0  1999-2000

In [44]:
#Set SEQN as _id (Primary Key)
result_1999_2016_cleaned.rename(columns={'SEQN':'_id'}, inplace=True)

In [45]:
#Dataframe to dictionary
huq_dict = result_1999_2016_cleaned.to_dict(orient='records')

In [46]:
huq_dict[0]

{'HUQ010': 1.0,
 'HUQ020': 3.0,
 'HUQ030': 1.0,
 'HUQ050': 3.0,
 'HUQ070': 1.0,
 'Year': '1999-2000',
 '_id': 1.0}

In [47]:
#Insert collection 
huq.insert_many(huq_dict)

In [48]:
#View collections
db.list_collection_names()

['smqfam',
 'smq',
 'mcq',
 'hiq',
 'demo',
 'bpq',
 'huq',
 'paq',
 'whq',
 'alq',
 'diq']

In [49]:
db.huq.count() #87707

/Users/changzhoug/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  """Entry point for launching an IPython kernel.

87707

In [50]:
# for h in huq.find():
#     print(h)