In [1]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import re
from collections import defaultdict

In [2]:
#Use one ./ if running from run_notebooks.py
#Use two ../if running directly from Jupyter Notebooks
#file_beg = '../NHANES-Downloader/data/csv_data/'

file_beg = './NHANES-Downloader/data/csv_data/'

In [3]:
#Import all the files
files1 = glob.glob(file_beg+'1999-2000/*/*.csv')
files2 = glob.glob(file_beg+'2001-2002/*/*.csv')
files3 = glob.glob(file_beg+'2003-2004/*/*.csv')
files4 = glob.glob(file_beg+'2005-2006/*/*.csv')
files5 = glob.glob(file_beg+'2007-2008/*/*.csv')
files6 = glob.glob(file_beg+'2009-2010/*/*.csv')
files7 = glob.glob(file_beg+'2011-2012/*/*.csv')
files8 = glob.glob(file_beg+'2013-2014/*/*.csv')
files9 = glob.glob(file_beg+'2015-2016/*/*.csv')

In [3]:
#Add files into a list
file_list = [files1, files2, files3, files4, files5, 
          files6, files7, files8, files9]

In [4]:
#Add files into a list of sorted and dictionaries
file_list_dict = []
for x in file_list:
    x.sort()
    file_list_dict.append(dict(enumerate(x)))

In [5]:
paq_indx = [99, 115, 128, 117, 116, 123, 114, 136, 85]

In [6]:
dfs = defaultdict(int)
for i in range(0,len(paq_indx)):
    dfs[i] = pd.read_csv(file_list_dict[i][paq_indx[i]])

## Functions: Recategorize values, Count Values, Drop Rows

In [7]:
#Recategorize function
def recategorize(df, name, replace_dict):
    df[name].replace(
    to_replace=replace_dict,
    inplace=True
)
    
#Count values function
def count_vals(df, name):
    df_count = df.groupby(name)['SEQN'].nunique()
    print(df_count,"\n\n","NaN: ", df[name].isnull().sum())
    
#Drop rows that include certain values
def drop_rows(df, name, val_list):
    df.drop(df[df[name].isin(val_list)].index, inplace=True)

## Important Variables

In [8]:
#1999-2006
var_names = ["SEQN", "PAD020", "PAD200", "PAD320"]

#2007-2016
var_names1 = ["SEQN", "PAQ635", "PAQ650", "PAQ665"]

In [9]:
#To display all columns in Jupyter Notebooks
#pd.set_option('display.max_columns', 500)

## Make a copy of the dataframes

In [10]:
#1999-20016
df0 = dfs[0][var_names].copy() #1999-2000
df1 = dfs[1][var_names].copy() #2001-2002
df2 = dfs[2][var_names].copy() #2003-2004
df3 = dfs[3][var_names].copy() #2005-2006
df4 = dfs[4][var_names1].copy() #2007-2008
df5 = dfs[5][var_names1].copy() #2009-2010
df6 = dfs[6][var_names1].copy() #2011-2012
df7 = dfs[7][var_names1].copy() #2013-2014
df8 = dfs[8][var_names1].copy() #2015-2016

## Recategorize values

In [11]:
#1999-2000
recategorize(df0, 'PAD020', {3:2})
recategorize(df0, 'PAD200', {3:2})
recategorize(df0, 'PAD320', {3:2})
#2001-2002
recategorize(df1, 'PAD020', {3:2})
recategorize(df1, 'PAD200', {3:2})
recategorize(df1, 'PAD320', {3:2})
#2003-2004
recategorize(df2, 'PAD020', {3:2})
recategorize(df2, 'PAD200', {3:2})
recategorize(df2, 'PAD320', {3:2})
#2005-2006
recategorize(df3, 'PAD020', {3:2})
recategorize(df3, 'PAD200', {3:2})
recategorize(df3, 'PAD320', {3:2})

## Rename columns 2007 - 2016

In [12]:
#Col names
col_names = var_names1

In [13]:
#PAD020 to PAQ635 - Walked or bicycled
#PAD200 to PAQ650 - Vigorous activity
#PAD320 to PAQ665 - Moderate activity
#1999 - 2006
df0.columns = col_names
df1.columns = col_names
df2.columns = col_names
df3.columns = col_names

## Append years 1999 - 2016

In [14]:
years = ["1999-2000","2001-2002","2003-2004","2005-2006","2007-2008", 
        "2009-2010","2011-2012","2013-2014","2015-2016"]

In [15]:
frames = [df0, df1, df2, df3, df4, df5, df6, df7, df8]

In [16]:
#Add years as a column
for i, df in enumerate(frames):
    df["Year"] = years[i]

In [17]:
result_1999_2016 = pd.concat(frames, keys = years)

In [18]:
result_1999_2016_cleaned = result_1999_2016.copy()

## Count values for each column

In [19]:
len(col_names)

4

In [20]:
#PAQ635 - Walked or bicycled 
count_vals(result_1999_2016, col_names[1])

PAQ635
1.0    19554
2.0    45298
7.0       14
9.0        7
Name: SEQN, dtype: int64

 NaN:  20087

In [21]:
#PAQ650 - Vigorous activity
count_vals(result_1999_2016, col_names[2])

PAQ650
1.0    21602
2.0    43246
7.0       12
9.0       11
Name: SEQN, dtype: int64

 NaN:  20089

In [22]:
#PAQ665 - Moderate activity
count_vals(result_1999_2016, col_names[3])

PAQ665
1.0    29317
2.0    35517
7.0       14
9.0       17
Name: SEQN, dtype: int64

 NaN:  20095

In [23]:
result_1999_2016

                   SEQN  PAQ635  PAQ650  PAQ665       Year
1999-2000 0         1.0     NaN     NaN     NaN  1999-2000
          1         2.0     2.0     2.0     2.0  1999-2000
          2         3.0     NaN     NaN     NaN  1999-2000
          3         5.0     2.0     1.0     1.0  1999-2000
          4         6.0     1.0     1.0     1.0  1999-2000
          5         7.0     1.0     2.0     1.0  1999-2000
          6         8.0     1.0     1.0     2.0  1999-2000
          7         9.0     NaN     NaN     NaN  1999-2000
          8        10.0     1.0     9.0     9.0  1999-2000
          9        11.0     2.0     1.0     1.0  1999-2000
          10       12.0     2.0     2.0     1.0  1999-2000
          11       13.0     2.0     2.0     2.0  1999-2000
          12       14.0     2.0     1.0     1.0  1999-2000
          13       15.0     1.0     1.0     1.0  1999-2000
          14       16.0     2.0     1.0     2.0  1999-2000
          15       17.0     NaN     NaN     NaN  1999-2000
          16       20.0     2.0     2.0     1.0  1999-2000
          17       21.0     2.0     2.0     2.0  1999-2000
          18       22.0     2.0     2.0     1.0  1999-2000
          19       23.0     1.0     2.0     1.0  1999-2000
          20       24.0     2.0     2.0     2.0  1999-2000
          21       25.0     2.0     2.0     1.0  1999-2000
          22       26.0     1.0     1.0     1.0  1999-2000
          23       27.0     1.0     2.0     2.0  1999-2000
          24       28.0     2.0     1.0     1.0  1999-2000
          25       29.0     2.0     2.0     2.0  1999-2000
          26       30.0     NaN     NaN     NaN  1999-2000
          27       31.0     1.0     1.0     2.0  1999-2000
          28       32.0     NaN     NaN     NaN  1999-2000
          29       33.0     2.0     2.0     2.0  1999-2000
...                 ...     ...     ...     ...        ...
2015-2016 9225  93670.0     2.0     1.0     2.0  2015-2016
          9226  93671.0     2.0     1.0     1.0  2015-2016
          9227  93672.0     2.0     2.0     1.0  2015-2016
          9228  93673.0     NaN     NaN     NaN  2015-2016
          9229  93674.0     NaN     NaN     NaN  2015-2016
          9230  93675.0     2.0     2.0     1.0  2015-2016
          9231  93676.0     1.0     2.0     1.0  2015-2016
          9232  93677.0     1.0     1.0     1.0  2015-2016
          9233  93679.0     2.0     2.0     2.0  2015-2016
          9234  93680.0     1.0     1.0     2.0  2015-2016
          9235  93681.0     NaN     NaN     NaN  2015-2016
          9236  93682.0     2.0     2.0     2.0  2015-2016
          9237  93683.0     NaN     NaN     NaN  2015-2016
          9238  93684.0     2.0     1.0     1.0  2015-2016
          9239  93685.0     2.0     2.0     1.0  2015-2016
          9240  93686.0     2.0     1.0     2.0  2015-2016
          9241  93687.0     1.0     2.0     1.0  2015-2016
          9242  93689.0     2.0     2.0     2.0  2015-2016
          9243  93690.0     2.0     1.0     2.0  2015-2016
          9244  93691.0     2.0     2.0     2.0  2015-2016
          9245  93693.0     NaN     NaN     NaN  2015-2016
          9246  93694.0     NaN     NaN     NaN  2015-2016
          9247  93695.0     2.0     2.0     2.0  2015-2016
          9248  93696.0     2.0     2.0     1.0  2015-2016
          9249  93697.0     2.0     2.0     2.0  2015-2016
          9250  93698.0     NaN     NaN     NaN  2015-2016
          9251  93699.0     NaN     NaN     NaN  2015-2016
          9252  93700.0     2.0     2.0     2.0  2015-2016
          9253  93701.0     NaN     NaN     NaN  2015-2016
          9254  93702.0     1.0     2.0     1.0  2015-2016

[84960 rows x 5 columns]

In [24]:
len(result_1999_2016)

84960

## Remove missing values:

In [25]:
drop_rows(result_1999_2016_cleaned, col_names[1], [np.nan, 7, 9])
drop_rows(result_1999_2016_cleaned, col_names[2], [np.nan, 7, 9])
drop_rows(result_1999_2016_cleaned, col_names[3], [np.nan, 7, 9])

## See if missing values have been correctly removed:

In [26]:
count_vals(result_1999_2016_cleaned, col_names[1])

PAQ635
1.0    19540
2.0    45283
Name: SEQN, dtype: int64

 NaN:  0

In [27]:
count_vals(result_1999_2016_cleaned, col_names[2])

PAQ650
1.0    21591
2.0    43232
Name: SEQN, dtype: int64

 NaN:  0

In [28]:
count_vals(result_1999_2016_cleaned, col_names[3])

PAQ665
1.0    29309
2.0    35514
Name: SEQN, dtype: int64

 NaN:  0

In [29]:
before = len(result_1999_2016)
before

84960

In [30]:
after = len(result_1999_2016_cleaned)
after

64823

In [31]:
(before-after)/after

0.31064591271616554

## MongoDB Insertion

In [32]:
#Import MongoClient
from pymongo import MongoClient

#Create a MongoClient to run the MongoDB instance
client = MongoClient('localhost', 27017)

In [33]:
#Connect to existing datbase
db = client.NHANES

In [34]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'NHANES')

In [35]:
db.list_collection_names()

['smqfam',
 'smq',
 'mcq',
 'hiq',
 'demo',
 'bpq',
 'huq',
 'paq',
 'whq',
 'alq',
 'diq']

In [36]:
#Create collection in database
paq = db.paq

In [37]:
#If collections exist, then drop
if 'paq' in db.list_collection_names():
    paq.drop()
    db.list_collection_names()
else:
    print("Collection doesn't exist yet")

## Create new collection to input into database

In [38]:
result_1999_2016_cleaned[:3]

             SEQN  PAQ635  PAQ650  PAQ665       Year
1999-2000 1   2.0     2.0     2.0     2.0  1999-2000
          3   5.0     2.0     1.0     1.0  1999-2000
          4   6.0     1.0     1.0     1.0  1999-2000

In [39]:
#Set SEQN as _id (Primary Key)
result_1999_2016_cleaned.rename(columns={'SEQN':'_id'}, inplace=True)

In [40]:
#Dataframe to dictionary
paq_dict = result_1999_2016_cleaned.to_dict(orient='records')

In [41]:
paq_dict[0]

{'PAQ635': 2.0, 'PAQ650': 2.0, 'PAQ665': 2.0, 'Year': '1999-2000', '_id': 2.0}

In [42]:
#Insert collection 
paq.insert_many(paq_dict)

In [43]:
#View collections
db.list_collection_names()

['smqfam',
 'smq',
 'mcq',
 'hiq',
 'demo',
 'bpq',
 'huq',
 'paq',
 'whq',
 'alq',
 'diq']

In [44]:
db.paq.count() #64823

/Users/changzhoug/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  """Entry point for launching an IPython kernel.

64823

In [45]:
# for d in paq.find():
#     print(d)