In [1]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import re
from collections import defaultdict

In [2]:
#Use one ./ if running from run_notebooks.py
#Use two ../if running directly from Jupyter Notebooks
#file_beg = '../NHANES-Downloader/data/csv_data/'

file_beg = './NHANES-Downloader/data/csv_data/'

In [3]:
#Import all the files
files1 = glob.glob(file_beg+'1999-2000/*/*.csv')
files2 = glob.glob(file_beg+'2001-2002/*/*.csv')
files3 = glob.glob(file_beg+'2003-2004/*/*.csv')
files4 = glob.glob(file_beg+'2005-2006/*/*.csv')
files5 = glob.glob(file_beg+'2007-2008/*/*.csv')
files6 = glob.glob(file_beg+'2009-2010/*/*.csv')
files7 = glob.glob(file_beg+'2011-2012/*/*.csv')
files8 = glob.glob(file_beg+'2013-2014/*/*.csv')
files9 = glob.glob(file_beg+'2015-2016/*/*.csv')

In [3]:
#Add files into a list
file_list = [files1, files2, files3, files4, files5, 
          files6, files7]

In [4]:
#Add files into a list of sorted and dictionaries
file_list_dict = []
for x in file_list:
    x.sort()
    file_list_dict.append(dict(enumerate(x)))

In [5]:
rdq_indx = [103, 118, 132, 121, 119, 126, 117]

In [6]:
dfs = defaultdict(int)
for i in range(0,len(rdq_indx)):
    dfs[i] = pd.read_csv(file_list_dict[i][rdq_indx[i]])

## Functions: Recategorize values, Count Values, Drop Rows

In [7]:
#Recategorize function
def recategorize(df, name, replace_dict):
    df[name].replace(
    to_replace=replace_dict,
    inplace=True
)
    
#Count values function
def count_vals(df, name):
    df_count = df.groupby(name)['SEQN'].nunique()
    print(df_count,"\n\n","NaN: ", df[name].isnull().sum())
    
#Drop rows that include certain values
def drop_rows(df, name, val_list):
    df.drop(df[df[name].isin(val_list)].index, inplace=True)

## Important Variables

In [8]:
#1999-2012
descr = ['SEQN', 'Wheezing or whistling in chest - past yr', 'Had dry cough at night in past year']
var_names = ['SEQN', 'RDQ070', 'RDQ140']

In [9]:
#To display all columns in Jupyter Notebooks
#pd.set_option('display.max_columns', 500)

## Make a copy of the dataframes

In [10]:
#1999-20012
df0 = dfs[0][var_names].copy() #1999-2000
df1 = dfs[1][var_names].copy() #2001-2002
df2 = dfs[2][var_names].copy() #2003-2004
df3 = dfs[3][var_names].copy() #2005-2006
df4 = dfs[4][var_names].copy() #2007-2008
df5 = dfs[5][var_names].copy() #2009-2010
df6 = dfs[6][var_names].copy() #2011-2012

## Recategorize values

In [12]:
#No recategorizing needed

## Rename columns 1999 - 2012

In [13]:
#No renaming needed

## Append years 1999 - 2012

In [11]:
years = ["1999-2000","2001-2002","2003-2004","2005-2006","2007-2008", 
        "2009-2010","2011-2012"]

In [12]:
frames = [df0, df1, df2, df3, df4, df5, df6]

In [13]:
#Add years as a column
for i, df in enumerate(frames):
    df["Year"] = years[i]

In [16]:
result_1999_2012 = pd.concat(frames, keys = years)

In [17]:
result_1999_2012_cleaned = result_1999_2012.copy()

In [18]:
result_1999_2012_cleaned

                   SEQN  RDQ070  RDQ140       Year
1999-2000 0         1.0     2.0     2.0  1999-2000
          1         2.0     2.0     2.0  1999-2000
          2         3.0     2.0     2.0  1999-2000
          3         4.0     2.0     2.0  1999-2000
          4         5.0     2.0     2.0  1999-2000
          5         6.0     2.0     2.0  1999-2000
          6         7.0     2.0     2.0  1999-2000
          7         8.0     2.0     2.0  1999-2000
          8         9.0     2.0     2.0  1999-2000
          9        10.0     2.0     2.0  1999-2000
          10       11.0     2.0     2.0  1999-2000
          11       12.0     1.0     2.0  1999-2000
          12       13.0     2.0     2.0  1999-2000
          13       14.0     2.0     2.0  1999-2000
          14       15.0     2.0     2.0  1999-2000
          15       16.0     2.0     2.0  1999-2000
          16       17.0     1.0     2.0  1999-2000
          17       18.0     2.0     2.0  1999-2000
          18       20.0     2.0     2.0  1999-2000
          19       21.0     2.0     2.0  1999-2000
          20       22.0     2.0     2.0  1999-2000
          21       23.0     2.0     2.0  1999-2000
          22       24.0     2.0     2.0  1999-2000
          23       25.0     2.0     2.0  1999-2000
          24       26.0     2.0     2.0  1999-2000
          25       27.0     2.0     2.0  1999-2000
          26       28.0     2.0     2.0  1999-2000
          27       29.0     1.0     2.0  1999-2000
          28       30.0     9.0     9.0  1999-2000
          29       31.0     2.0     2.0  1999-2000
...                 ...     ...     ...        ...
2011-2012 9334  71885.0     2.0     2.0  2011-2012
          9335  71886.0     2.0     2.0  2011-2012
          9336  71887.0     2.0     1.0  2011-2012
          9337  71888.0     2.0     2.0  2011-2012
          9338  71889.0     2.0     2.0  2011-2012
          9339  71890.0     2.0     2.0  2011-2012
          9340  71891.0     2.0     2.0  2011-2012
          9341  71893.0     2.0     2.0  2011-2012
          9342  71894.0     2.0     2.0  2011-2012
          9343  71895.0     2.0     2.0  2011-2012
          9344  71896.0     2.0     2.0  2011-2012
          9345  71897.0     2.0     2.0  2011-2012
          9346  71898.0     2.0     2.0  2011-2012
          9347  71899.0     1.0     2.0  2011-2012
          9348  71900.0     2.0     2.0  2011-2012
          9349  71901.0     1.0     2.0  2011-2012
          9350  71902.0     1.0     2.0  2011-2012
          9351  71903.0     2.0     2.0  2011-2012
          9352  71904.0     2.0     2.0  2011-2012
          9353  71905.0     2.0     2.0  2011-2012
          9354  71906.0     2.0     2.0  2011-2012
          9355  71907.0     2.0     2.0  2011-2012
          9356  71908.0     2.0     2.0  2011-2012
          9357  71909.0     2.0     2.0  2011-2012
          9358  71911.0     2.0     2.0  2011-2012
          9359  71912.0     2.0     2.0  2011-2012
          9360  71913.0     2.0     2.0  2011-2012
          9361  71914.0     1.0     2.0  2011-2012
          9362  71915.0     2.0     2.0  2011-2012
          9363  71916.0     2.0     2.0  2011-2012

[68569 rows x 4 columns]

## Count values for each column

In [19]:
col_names = var_names

In [20]:
len(col_names)

3

In [22]:
#RDQ070 - Wheezing or whistling in chest - past yr
count_vals(result_1999_2012, col_names[1])

RDQ070
1.0     9072
2.0    59436
7.0        8
9.0       43
Name: SEQN, dtype: int64

 NaN:  10

In [23]:
#RDQ140 - Had dry cough at night in past year
count_vals(result_1999_2012, col_names[2])

RDQ140
1.0     2961
2.0    65559
7.0        8
9.0       31
Name: SEQN, dtype: int64

 NaN:  10

In [25]:
len(result_1999_2012)

68569

## Remove missing values:

In [26]:
drop_rows(result_1999_2012_cleaned, col_names[1], [np.nan, 7, 9])

In [27]:
drop_rows(result_1999_2012_cleaned, col_names[2], [np.nan, 7, 9])

## See if missing values have been correctly removed:

In [28]:
#RDQ070 - Wheezing or whistling in chest - past yr
count_vals(result_1999_2012_cleaned, col_names[1])

RDQ070
1.0     9061
2.0    59420
Name: SEQN, dtype: int64

 NaN:  0

In [29]:
#RDQ140 - Had dry cough at night in past year
count_vals(result_1999_2012_cleaned, col_names[2])

RDQ140
1.0     2957
2.0    65524
Name: SEQN, dtype: int64

 NaN:  0

In [30]:
before = len(result_1999_2012)
before

68569

In [31]:
after = len(result_1999_2012_cleaned)
after

68481

In [32]:
(before-after)/after

0.0012850279639608066

## MongoDB Insertion

In [33]:
#Import MongoClient
from pymongo import MongoClient

#Create a MongoClient to run the MongoDB instance
client = MongoClient("localhost", 27017)

In [34]:
#Connect to existing database
db = client.NHANES
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'NHANES')

In [35]:
db.list_collection_names()

['smqfam',
 'smq',
 'bpx',
 'mcq',
 'hiq',
 'demo',
 'bpq',
 'huq',
 'paq',
 'whq',
 'alq',
 'diq']

In [36]:
#Creating a collection
rdq = db.rdq

In [37]:
#If collections exist, then drop
if 'rdq' in db.list_collection_names():
    rdq.drop()
    db.list_collection_names()

## Create new collection to input into database

In [38]:
result_1999_2012_cleaned[:3]

             SEQN  RDQ070  RDQ140       Year
1999-2000 0   1.0     2.0     2.0  1999-2000
          1   2.0     2.0     2.0  1999-2000
          2   3.0     2.0     2.0  1999-2000

In [39]:
#Set SEQN as _id (Primary Key)
result_1999_2012_cleaned.rename(columns= {'SEQN':'_id'}, inplace=True)

In [40]:
#Dataframe to dictionary
rdq_dict = result_1999_2012_cleaned.to_dict(orient='records')

In [41]:
rdq_dict[0]

{'RDQ070': 2.0, 'RDQ140': 2.0, 'Year': '1999-2000', '_id': 1.0}

In [42]:
#Insert collection
rdq.insert_many(rdq_dict)

In [43]:
db.list_collection_names()

['smqfam',
 'smq',
 'bpx',
 'mcq',
 'hiq',
 'demo',
 'bpq',
 'huq',
 'paq',
 'whq',
 'alq',
 'rdq',
 'diq']