In [1]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import re
from collections import defaultdict

In [2]:
#Use one ./ if running from run_notebooks.py
#Use two ../if running directly from Jupyter Notebooks
#file_beg = '../NHANES-Downloader/data/csv_data/'

file_beg = './NHANES-Downloader/data/csv_data/'

In [3]:
#Import all the files
files1 = glob.glob(file_beg+'1999-2000/*/*.csv')
files2 = glob.glob(file_beg+'2001-2002/*/*.csv')
files3 = glob.glob(file_beg+'2003-2004/*/*.csv')
files4 = glob.glob(file_beg+'2005-2006/*/*.csv')
files5 = glob.glob(file_beg+'2007-2008/*/*.csv')
files6 = glob.glob(file_beg+'2009-2010/*/*.csv')
files7 = glob.glob(file_beg+'2011-2012/*/*.csv')
files8 = glob.glob(file_beg+'2013-2014/*/*.csv')
files9 = glob.glob(file_beg+'2015-2016/*/*.csv')

In [3]:
#Add files into a list
file_list = [files1, files2, files3, files4, files5, 
          files6, files7, files8, files9]

In [4]:
#Add files into a list of sorted and dictionaries
file_list_dict = []
for x in file_list:
    x.sort()
    file_list_dict.append(dict(enumerate(x)))

In [5]:
smqfam_indx = [108, 122, 136, 125, 123, 130, 122, 143, 91]

In [6]:
dfs = defaultdict(int)
for i in range(0,len(smqfam_indx)):
    dfs[i] = pd.read_csv(file_list_dict[i][smqfam_indx[i]])

## Functions: Recategorize values, Count Values, Drop Rows

In [7]:
#Recategorize function
def recategorize(df, name, replace_dict):
    df[name].replace(
    to_replace=replace_dict,
    inplace=True
)
    
#Count values function
def count_vals(df, name):
    df_count = df.groupby(name)['SEQN'].nunique()
    print(df_count,"\n\n","NaN: ", df[name].isnull().sum())
    
#Drop rows that include certain values
def drop_rows(df, name, val_list):
    df.drop(df[df[name].isin(val_list)].index, inplace=True)

## Important Variables

In [8]:
#1999-2012
var_names = ["SEQN", "SMD410"]

#2013-2016
var_names1 = ["SEQN", "SMD460"]

In [9]:
#To display all columns in Jupyter Notebooks
#pd.set_option('display.max_columns', 500)

## Round the column

In [10]:
dfs[0]['SMD410'] = dfs[0]['SMD410'].round(0)
dfs[1]['SMD410'] = dfs[1]['SMD410'].round(0)
dfs[2]['SMD410'] = dfs[2]['SMD410'].round(0)
dfs[3]['SMD410'] = dfs[3]['SMD410'].round(0)
dfs[4]['SMD410'] = dfs[4]['SMD410'].round(0)
dfs[5]['SMD410'] = dfs[5]['SMD410'].round(0)
dfs[6]['SMD410'] = dfs[6]['SMD410'].round(0)
dfs[7]['SMD460'] = dfs[7]['SMD460'].round(0)
dfs[8]['SMD460'] = dfs[8]['SMD460'].round(0)

## Make a copy of the dataframes

In [11]:
#1999-2016
df0 = dfs[0][var_names].copy() #1999-2000
df1 = dfs[1][var_names].copy() #2001-2002
df2 = dfs[2][var_names].copy() #2003-2004
df3 = dfs[3][var_names].copy() #2005-2006
df4 = dfs[4][var_names].copy() #2007-2008
df5 = dfs[5][var_names].copy() #2009-2010
df6 = dfs[6][var_names].copy() #2011-2012
df7 = dfs[7][var_names1].copy() #2013-2014
df8 = dfs[8][var_names1].copy() #2015-2016

## Recategorize values

In [12]:
#Recategorize SMD460 to SMD410 -> {2,3 to 1}, 
#{0 to 2}, {777 to 7}, {999 to 9}

#2013-2014
recategorize(df7, 'SMD460', {2:1, 3:1, 0:2, 777:7, 999:9})

#2015-2016
recategorize(df8, 'SMD460', {2:1, 3:1, 0:2, 777:7, 999:9})

## Rename columns 2013 - 2016

In [13]:
#Col names
col_names = var_names

In [14]:
#2013 - 2016
df7.columns = col_names
df8.columns = col_names

## Append years 1999 - 2016

In [15]:
years = ["1999-2000","2001-2002","2003-2004","2005-2006","2007-2008", 
        "2009-2010","2011-2012","2013-2014","2015-2016"]

In [16]:
frames = [df0, df1, df2, df3, df4, df5, df6, df7, df8]

In [17]:
#Add years as a column
for i, df in enumerate(frames):
    df["Year"] = years[i]

In [18]:
result_1999_2016 = pd.concat(frames, keys = years)

In [19]:
result_1999_2016_cleaned = result_1999_2016.copy()

## Count values for each column

In [20]:
result_1999_2016_cleaned

                   SEQN  SMD410       Year
1999-2000 0         1.0     2.0  1999-2000
          1         2.0     2.0  1999-2000
          2         3.0     1.0  1999-2000
          3         4.0     2.0  1999-2000
          4         5.0     2.0  1999-2000
          5         6.0     2.0  1999-2000
          6         7.0     NaN  1999-2000
          7         8.0     1.0  1999-2000
          8         9.0     2.0  1999-2000
          9        10.0     1.0  1999-2000
          10       11.0     2.0  1999-2000
          11       12.0     2.0  1999-2000
          12       13.0     2.0  1999-2000
          13       14.0     1.0  1999-2000
          14       15.0     1.0  1999-2000
          15       16.0     2.0  1999-2000
          16       17.0     2.0  1999-2000
          17       18.0     2.0  1999-2000
          18       19.0     2.0  1999-2000
          19       20.0     2.0  1999-2000
          20       21.0     2.0  1999-2000
          21       22.0     2.0  1999-2000
          22       23.0     2.0  1999-2000
          23       24.0     1.0  1999-2000
          24       25.0     2.0  1999-2000
          25       26.0     2.0  1999-2000
          26       27.0     2.0  1999-2000
          27       28.0     2.0  1999-2000
          28       29.0     2.0  1999-2000
          29       30.0     2.0  1999-2000
...                 ...     ...        ...
2015-2016 9941  93673.0     1.0  2015-2016
          9942  93674.0     2.0  2015-2016
          9943  93675.0     2.0  2015-2016
          9944  93676.0     2.0  2015-2016
          9945  93677.0     2.0  2015-2016
          9946  93678.0     2.0  2015-2016
          9947  93679.0     1.0  2015-2016
          9948  93680.0     2.0  2015-2016
          9949  93681.0     2.0  2015-2016
          9950  93682.0     2.0  2015-2016
          9951  93683.0     2.0  2015-2016
          9952  93684.0     2.0  2015-2016
          9953  93685.0     2.0  2015-2016
          9954  93686.0     1.0  2015-2016
          9955  93687.0     2.0  2015-2016
          9956  93688.0     1.0  2015-2016
          9957  93689.0     2.0  2015-2016
          9958  93690.0     2.0  2015-2016
          9959  93691.0     2.0  2015-2016
          9960  93692.0     1.0  2015-2016
          9961  93693.0     1.0  2015-2016
          9962  93694.0     2.0  2015-2016
          9963  93695.0     2.0  2015-2016
          9964  93696.0     2.0  2015-2016
          9965  93697.0     2.0  2015-2016
          9966  93698.0     2.0  2015-2016
          9967  93699.0     2.0  2015-2016
          9968  93700.0     1.0  2015-2016
          9969  93701.0     2.0  2015-2016
          9970  93702.0     2.0  2015-2016

[92062 rows x 3 columns]

In [21]:
len(col_names)

2

In [22]:
#SMD410 - Does anyone smoke in the home
count_vals(result_1999_2016_cleaned, col_names[1])

SMD410
1.0    17846
2.0    72979
7.0       22
9.0       15
Name: SEQN, dtype: int64

 NaN:  1200

In [23]:
result_1999_2016[:1]

             SEQN  SMD410       Year
1999-2000 0   1.0     2.0  1999-2000

In [24]:
len(result_1999_2016)

92062

## Remove missing values:

In [25]:
drop_rows(result_1999_2016_cleaned, col_names[1], [np.nan, 7, 9])

## See if missing values have been correctly removed:

In [26]:
count_vals(result_1999_2016_cleaned, col_names[1])

SMD410
1.0    17846
2.0    72979
Name: SEQN, dtype: int64

 NaN:  0

In [27]:
before = len(result_1999_2016)
before

92062

In [28]:
after = len(result_1999_2016_cleaned)
after

90825

In [29]:
(before-after)/after

0.01361959812826865

## MongoDB Insertion

In [30]:
#Import MongoClient
from pymongo import MongoClient

#Create a MongoClient to run the MongoDB instance
client = MongoClient('localhost', 27017)

In [31]:
#Connect to existing datbase
db = client.NHANES

In [32]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'NHANES')

In [33]:
db.list_collection_names()

['smqfam',
 'smq',
 'mcq',
 'hiq',
 'demo',
 'bpq',
 'huq',
 'paq',
 'whq',
 'alq',
 'diq']

In [34]:
#Create collection in database
smqfam = db.smqfam

In [35]:
#If collections exist, then drop
if 'smqfam' in db.list_collection_names():
    smqfam.drop()
    db.list_collection_names()
else:
    print("Collections doesn't exist yet")

## Create new collection to input into database

In [36]:
result_1999_2016_cleaned[:3]

             SEQN  SMD410       Year
1999-2000 0   1.0     2.0  1999-2000
          1   2.0     2.0  1999-2000
          2   3.0     1.0  1999-2000

In [37]:
#Set SEQN as _id (Primary Key)
result_1999_2016_cleaned.rename(columns={'SEQN':'_id'}, inplace=True)

In [38]:
#Dataframe to dictionary
smqfam_dict = result_1999_2016_cleaned.to_dict(orient='records')

In [39]:
smqfam_dict[0]

{'SMD410': 2.0, 'Year': '1999-2000', '_id': 1.0}

In [40]:
#Insert collection 
smqfam.insert_many(smqfam_dict)

In [41]:
#View collections
db.list_collection_names()

['smqfam',
 'smq',
 'mcq',
 'hiq',
 'demo',
 'bpq',
 'huq',
 'paq',
 'whq',
 'alq',
 'diq']

In [42]:
db.smqfam.count() #90825

/Users/changzhoug/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  """Entry point for launching an IPython kernel.

90825

In [43]:
# for s in smqfam.find():
#     print(s)