In [1]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import re
from collections import defaultdict

In [2]:
#Use one ./ if running from run_notebooks.py
#Use two ../if running directly from Jupyter Notebooks
#file_beg = '../NHANES-Downloader/data/csv_data/'

file_beg = './NHANES-Downloader/data/csv_data/'

In [3]:
#Import all the files
files1 = glob.glob(file_beg+'1999-2000/*/*.csv')
files2 = glob.glob(file_beg+'2001-2002/*/*.csv')
files3 = glob.glob(file_beg+'2003-2004/*/*.csv')
files4 = glob.glob(file_beg+'2005-2006/*/*.csv')
files5 = glob.glob(file_beg+'2007-2008/*/*.csv')
files6 = glob.glob(file_beg+'2009-2010/*/*.csv')
files7 = glob.glob(file_beg+'2011-2012/*/*.csv')
files8 = glob.glob(file_beg+'2013-2014/*/*.csv')
files9 = glob.glob(file_beg+'2015-2016/*/*.csv')

In [3]:
#Add files into a list
file_list = [files1, files2, files3, files4, files5, 
          files6, files7, files8, files9]

In [4]:
#Add files into a list of sorted and dictionaries
file_list_dict = []
for x in file_list:
    x.sort()
    file_list_dict.append(dict(enumerate(x)))

In [5]:
whq_indx = [114, 128, 142, 132, 130, 136, 129, 150, 97]

In [6]:
dfs = defaultdict(int)
for i in range(0,len(whq_indx)):
    dfs[i] = pd.read_csv(file_list_dict[i][whq_indx[i]])

## Functions: Recategorize values, Count Values, Drop Rows

In [7]:
#Recategorize function
def recategorize(df, name, replace_dict):
    df[name].replace(
    to_replace=replace_dict,
    inplace=True
)
    
#Count values function
def count_vals(df, name):
    df_count = df.groupby(name)['SEQN'].nunique()
    print(df_count,"\n\n","NaN: ", df[name].isnull().sum())
    
#Drop rows that include certain values
def drop_rows(df, name, val_list):
    df.drop(df[df[name].isin(val_list)].index, inplace=True)

## Important Variables

In [8]:
#1999-2000
var_names = ["SEQN", "WHD010", "WHD020", "WHQ030", "WHD040"]

#2001-2016
var_names1 = ["SEQN", "WHD010", "WHD020", "WHQ030", "WHQ040"]

In [9]:
#To display all columns in Jupyter Notebooks
#pd.set_option('display.max_columns', 500)

## Round the column

In [10]:
# dfs[0]['SMD410'] = dfs[0]['SMD410'].round(0)
# dfs[1]['SMD410'] = dfs[1]['SMD410'].round(0)
# dfs[2]['SMD410'] = dfs[2]['SMD410'].round(0)
# dfs[3]['SMD410'] = dfs[3]['SMD410'].round(0)
# dfs[4]['SMD410'] = dfs[4]['SMD410'].round(0)
# dfs[5]['SMD410'] = dfs[5]['SMD410'].round(0)
# dfs[6]['SMD410'] = dfs[6]['SMD410'].round(0)
# dfs[7]['SMD460'] = dfs[7]['SMD460'].round(0)
# dfs[8]['SMD460'] = dfs[8]['SMD460'].round(0)

## Make a copy of the dataframes

In [11]:
#1999-2016
df0 = dfs[0][var_names].copy() #1999-2000
df1 = dfs[1][var_names1].copy() #2001-2002
df2 = dfs[2][var_names1].copy() #2003-2004
df3 = dfs[3][var_names1].copy() #2005-2006
df4 = dfs[4][var_names1].copy() #2007-2008
df5 = dfs[5][var_names1].copy() #2009-2010
df6 = dfs[6][var_names1].copy() #2011-2012
df7 = dfs[7][var_names1].copy() #2013-2014
df8 = dfs[8][var_names1].copy() #2015-2016

## Recategorize values

In [12]:
#1999-2000
recategorize(df0, 'WHD020', {77777:7777, 99999:9999})

## Rename columns 1999-2000

In [13]:
#Col names
col_names = var_names1

In [14]:
#1999-2000
df0.columns = col_names

## Append years 1999 - 2016

In [15]:
years = ["1999-2000","2001-2002","2003-2004","2005-2006","2007-2008", 
        "2009-2010","2011-2012","2013-2014","2015-2016"]

In [16]:
frames = [df0, df1, df2, df3, df4, df5, df6, df7, df8]

In [17]:
#Add years as a column
for i, df in enumerate(frames):
    df["Year"] = years[i]

In [18]:
result_1999_2016 = pd.concat(frames, keys = years)

In [19]:
result_1999_2016_cleaned = result_1999_2016.copy()

## Count values for each column

In [20]:
result_1999_2016_cleaned[:0]

Empty DataFrame
Columns: [SEQN, WHD010, WHD020, WHQ030, WHQ040, Year]
Index: []

In [21]:
len(col_names)

5

In [22]:
#WHD010 - Current self-reported height (inches)
count_vals(result_1999_2016_cleaned, col_names[1])

WHD010
39.0         1
40.0         1
41.0        12
42.0         2
43.0         2
47.0         1
48.0        12
49.0        11
50.0         7
51.0        12
52.0         8
53.0        53
54.0        23
55.0        44
56.0        95
57.0       173
58.0       306
59.0      1012
60.0      2167
61.0      2395
62.0      4176
63.0      4209
64.0      4902
65.0      4720
66.0      5363
67.0      4862
68.0      4176
69.0      3740
70.0      3465
71.0      3221
72.0      2678
73.0      1630
74.0      1259
75.0       679
76.0       363
77.0       148
78.0        64
79.0        32
80.0        18
81.0        10
82.0         3
83.0         4
84.0         2
7777.0      14
9999.0     994
Name: SEQN, dtype: int64

 NaN:  362

In [23]:
#WHD020 - Current self-reported weight (pounds)
count_vals(result_1999_2016_cleaned, col_names[2])

WHD020
50.0        1
55.0        1
60.0        1
66.0        1
70.0        2
75.0        2
76.0        1
78.0        4
79.0        2
80.0       11
81.0        2
82.0        5
83.0        6
84.0       10
85.0       14
86.0        9
87.0        9
88.0       11
89.0       10
90.0       51
91.0        5
92.0       21
93.0       19
94.0       18
95.0      103
96.0       35
97.0       29
98.0      113
99.0       35
100.0     250
         ...
393.0       1
395.0       4
396.0       1
397.0       3
398.0       2
400.0      11
407.0       1
410.0       1
411.0       1
415.0       2
416.0       2
420.0       2
425.0       2
427.0       1
428.0       1
430.0       1
431.0       2
432.0       1
435.0       1
440.0       3
445.0       1
450.0       4
464.0       1
468.0       1
470.0       1
493.0       1
600.0       3
670.0       1
7777.0     63
9999.0    696
Name: SEQN, Length: 340, dtype: int64

 NaN:  324

In [24]:
#WHQ030 - How do you consider your weight
count_vals(result_1999_2016_cleaned, col_names[3])

WHQ030
1.0    27941
2.0     3537
3.0    25741
7.0       25
9.0      135
Name: SEQN, dtype: int64

 NaN:  52

In [25]:
#WHQ040 - Like to weigh more, less or same
count_vals(result_1999_2016_cleaned, col_names[4])

WHQ040
1.0     5236
2.0    32591
3.0    19460
7.0       21
9.0       71
Name: SEQN, dtype: int64

 NaN:  52

In [26]:
result_1999_2016[:1]

             SEQN  WHD010  WHD020  WHQ030  WHQ040       Year
1999-2000 0   2.0    69.0   168.0     3.0     3.0  1999-2000

In [27]:
len(result_1999_2016)

57431

## Remove missing values:

In [28]:
drop_rows(result_1999_2016_cleaned, col_names[1], [np.nan, 7777, 9999])
drop_rows(result_1999_2016_cleaned, col_names[2], [np.nan, 7777, 9999])
drop_rows(result_1999_2016_cleaned, col_names[3], [np.nan, 7, 9])
drop_rows(result_1999_2016_cleaned, col_names[4], [np.nan, 7, 9])

## See if missing values have been correctly removed:

In [29]:
count_vals(result_1999_2016_cleaned, col_names[1])

WHD010
39.0       1
40.0       1
41.0      11
42.0       2
43.0       2
47.0       1
48.0      11
49.0      11
50.0       6
51.0      12
52.0       8
53.0      52
54.0      23
55.0      44
56.0      92
57.0     170
58.0     297
59.0     995
60.0    2123
61.0    2338
62.0    4097
63.0    4119
64.0    4828
65.0    4638
66.0    5281
67.0    4798
68.0    4133
69.0    3707
70.0    3441
71.0    3198
72.0    2654
73.0    1621
74.0    1256
75.0     673
76.0     360
77.0     148
78.0      63
79.0      32
80.0      18
81.0      10
82.0       3
83.0       4
84.0       2
Name: SEQN, dtype: int64

 NaN:  0

In [30]:
count_vals(result_1999_2016_cleaned, col_names[2])

WHD020
50.0       1
60.0       1
70.0       2
75.0       2
76.0       1
78.0       3
79.0       2
80.0      11
81.0       2
82.0       4
83.0       4
84.0       8
85.0      13
86.0       9
87.0       8
88.0      10
89.0      10
90.0      45
91.0       4
92.0      20
93.0      18
94.0      18
95.0      99
96.0      33
97.0      28
98.0     113
99.0      34
100.0    243
101.0     31
102.0     68
        ...
390.0      6
391.0      1
393.0      1
395.0      4
396.0      1
397.0      3
398.0      2
400.0     11
407.0      1
410.0      1
411.0      1
415.0      2
416.0      2
420.0      2
425.0      2
427.0      1
428.0      1
430.0      1
431.0      2
432.0      1
435.0      1
440.0      3
445.0      1
450.0      4
464.0      1
468.0      1
470.0      1
493.0      1
600.0      3
670.0      1
Name: SEQN, Length: 335, dtype: int64

 NaN:  0

In [31]:
count_vals(result_1999_2016_cleaned, col_names[3])

WHQ030
1.0    27090
2.0     3407
3.0    24787
Name: SEQN, dtype: int64

 NaN:  0

In [32]:
count_vals(result_1999_2016_cleaned, col_names[4])

WHQ040
1.0     5092
2.0    31566
3.0    18626
Name: SEQN, dtype: int64

 NaN:  0

In [33]:
before = len(result_1999_2016)
before

57431

In [34]:
after = len(result_1999_2016_cleaned)
after

55284

In [35]:
(before-after)/after

0.038835829534765935

## MongoDB Insertion

In [36]:
#Import MongoClient
from pymongo import MongoClient

#Create a MongoClient to run the MongoDB instance
client = MongoClient('localhost', 27017)

In [37]:
#Connect to existing datbase
db = client.NHANES

In [38]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'NHANES')

In [39]:
db.list_collection_names()

['smqfam', 'smq', 'mcq', 'hiq', 'demo', 'bpq', 'paq', 'whq', 'alq', 'diq']

In [40]:
#Create collection in database
whq = db.whq

In [41]:
#If collections exist, then drop
if 'whq' in db.list_collection_names():
    whq.drop()
    db.list_collection_names()
else:
    print("Collections doesn't exist yet")

## Create new collection to input into database

In [42]:
result_1999_2016_cleaned[:3]

             SEQN  WHD010  WHD020  WHQ030  WHQ040       Year
1999-2000 0   2.0    69.0   168.0     3.0     3.0  1999-2000
          1   5.0    71.0   206.0     1.0     2.0  1999-2000
          2   6.0    64.0   132.0     3.0     2.0  1999-2000

In [43]:
#Set SEQN as _id (Primary Key)
result_1999_2016_cleaned.rename(columns={'SEQN':'_id'}, inplace=True)

In [44]:
#Dataframe to dictionary
whq_dict = result_1999_2016_cleaned.to_dict(orient='records')

In [45]:
whq_dict[0]

{'WHD010': 69.0,
 'WHD020': 168.0,
 'WHQ030': 3.0,
 'WHQ040': 3.0,
 'Year': '1999-2000',
 '_id': 2.0}

In [46]:
#Insert collection 
whq.insert_many(whq_dict)

In [47]:
#View collections
db.list_collection_names()

['smqfam',
 'smq',
 'mcq',
 'hiq',
 'demo',
 'bpq',
 'huq',
 'paq',
 'whq',
 'alq',
 'diq']

In [48]:
db.whq.count() #55284

/Users/changzhoug/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  """Entry point for launching an IPython kernel.

55284

In [49]:
# for w in whq.find():
#     print(w)